* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover, a:focus, a.active {
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  resize: none;
}

.u-br-l {
  border: none !important;
}

.u-cf {
  clear: both !important;
}

.u-cl {
  clear: left !important;
}

.u-cr {
  clear: right !important;
}

.u-db {
  display: block !important;
}

.u-dn {
  display: none !important;
}

.u-di {
  display: inline !important;
}

.u-dib {
  display: inline-block !important;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.u-fl {
  float: left !important;
}

.u-fr {
  float: right !important;
}

.u-fn {
  float: none !important;
}

.u-ff {
  overflow: hidden;
  width: 100%;
}

.u-strong {
  font-weight: bold !important;
}

.u-italic {
  font-style: italic !important;
}

.u-normal {
  font-weight: normal !important;
}

.u-uppercase {
  text-transform: uppercase !important;
}

.u-lowercase {
  text-transform: lowercase !important;
}

.u-capitalize {
  text-transform: capitalize !important;
}

.u-deco-none {
  text-decoration: none !important;
}

.u-deco-underline {
  text-decoration: underline !important;
}

.u-tr {
  text-align: right !important;
}

.u-tl {
  text-align: left !important;
}

.u-tc {
  text-align: center !important;
}

.u-tj {
  text-align: justify !important;
}

.u-word-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.u-ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-pa {
  position: absolute !important;
}

.u-pr {
  position: relative !important;
}

.u-cp {
  cursor: pointer !important;
}

.u-cd {
  cursor: default !important;
}

.u-ha {
  margin-left: auto;
  margin-right: auto;
}

.u-va {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-ac {
  align-items: center;
}

.u-hw {
  width: 50%;
}

.u-fw {
  width: 100%;
}

.u-hh {
  height: 50%;
}

.u-fh {
  height: 100%;
}

.u-fb {
  display: flex;
}

.u-f-c {
  flex-direction: column;
}

.u-sb {
  justify-content: space-between;
}

.u-fg {
  flex: 1 1 auto;
}

.u-nfg {
  flex: 0 0 auto;
}

.u-1-3 {
  width: 33.3333333333%;
}

.u-2-3 {
  width: 66.6666666667%;
}

.u-1-4 {
  width: 25%;
}

.u-2-4 {
  width: 50%;
}

.u-3-4 {
  width: 75%;
}

.u-1-5 {
  width: 20%;
}

.u-2-5 {
  width: 40%;
}

.u-3-5 {
  width: 60%;
}

.u-4-5 {
  width: 80%;
}

.u-1-6 {
  width: 16.6666666667%;
}

.u-2-6 {
  width: 33.3333333333%;
}

.u-3-6 {
  width: 50%;
}

.u-4-6 {
  width: 66.6666666667%;
}

.u-5-6 {
  width: 83.3333333333%;
}

.u-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  /* iOS Momentum scroll */
  /* iOS Momentum scroll */
}

@media screen and (max-device-width: 480px) {
  .u-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.t--caps {
  text-transform: uppercase;
}

.t--underline,
.t--underline--hover:hover {
  text-decoration: underline;
}

html,
body,
input,
button {
  font-style: normal;
  font-size: 14px;
}

a {
  transition: all 350ms ease-out;
}

body {
  background-color: #161641;
  color: rgba(255, 255, 255, 0.4);
}

.l-logo {
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 40px auto 20px;
  mix-blend-mode: soft-light;
  position: relative;
  text-align: center;
  z-index: 7;
}

.l-logo span {
  position: relative;
}

.l-logo span:after {
  color: rgba(255, 255, 255, 0.4);
  content: "elba";
  left: 0;
  position: absolute;
  z-index: 10;
}

.l-title {
  min-height: calc(90vh - 80px);
}

.l-title h1,
.l-title .w-embed span:after {
  font-size: 5.2vw;
  left: 50%;
  letter-spacing: -0.03em;
  line-height: 1em;
  max-width: 900px;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  width: 90%;
}

.l-title h1 {
  color: #fff;
  z-index: 6;
}

.l-title .w-embed span:after {
  color: #44fff7;
  content: attr(data-content);
  filter: blur(20px);
  opacity: 0.6;
  z-index: 2;
  top: 54%;
}

.l-txt {
  color: #fff;
  line-height: 2.8em;
  margin: 0 auto;
  padding-bottom: 100px;
  position: relative;
  max-width: 600px;
  text-align: center;
  width: 90%;
  z-index: 6;
}

form {
  display: flex;
  margin: 40px auto 0;
  max-width: 480px;
}

form input,
form button {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 0 20px;
}

form input {
  height: 60px;
  flex: 1 1 auto;
  margin-right: 20px;
}

form button {
  background: rgba(99, 150, 154, 0.2);
  color: #fff;
  cursor: pointer;
  flex: 0 0 auto;
  font-weight: bold;
  transition: background 250ms ease-out;
}

form button:hover {
  background: rgba(99, 150, 154, 0.4);
}

.l-success {
  color: rgba(255, 255, 255, 0.6);
}

.l-error {
  color: rgba(255, 255, 255, 0.6);
  margin: 20px 0 -20px;
}

.l-error strong {
  color: #fff;
}

.l-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  z-index: 6;
}

.l-footer span {
  padding: 0 5px;
}

.l-footer a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  text-decoration: underline;
}

.l-footer a:hover {
  color: #fff;
}

.l-dot {
  filter: blur(15px);
  left: 50%;
  position: fixed;
  top: 50%;
}

.l-dot.l-dot--main {
  background-size: 320px 302px;
  height: 302px;
  margin: -160px 0 0 -151px;
  width: 320px;
  z-index: 5;
}

.l-dot.l-dot--secondary {
  background-size: 320px;
  height: 320px;
  margin: -160px 0 0 -160px;
  width: 320px;
  z-index: 4;
  animation: dotRotate 4s linear infinite forwards;
  -moz-animation: dotRotate 4s linear infinite forwards;
  -o-animation: dotRotate 4s linear infinite forwards;
  -webkit-animation: dotRotate 4s linear infinite forwards;
}

.l-sonar {
  left: 50%;
  mix-blend-mode: soft-light;
  opacity: 1;
  position: fixed;
  top: 50%;
  z-index: 3;
}

.l-sonar__item {
  left: 50%;
  margin: -1000px 0 0 -1000px;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  height: 2000px;
  width: 2000px;
  border-radius: 2000px;
  background-clip: padding-box;
  -moz-border-radius: 2000px;
  -o-border-radius: 2000px;
  -webkit-border-radius: 2000px;
}

.l-sonar__item div {
  background: conic-gradient(from 180deg at 50% 50%, aqua 0deg, rgba(0, 255, 255, 0.8) 42deg, rgba(0, 255, 255, 0.4) 200deg, rgba(0, 255, 255, 0) 360deg);
  border-radius: 50%;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  animation: sonarRotate 20s linear infinite;
  -moz-animation: sonarRotate 20s linear infinite;
  -o-animation: sonarRotate 20s linear infinite;
  -webkit-animation: sonarRotate 20s linear infinite;
}

.l-sonar__item:nth-child(2) {
  opacity: 0.26;
  transform: rotate(30deg);
}

.l-sonar__item:nth-child(3) {
  opacity: 0.22;
  transform: rotate(60deg);
}

.l-sonar__item:nth-child(4) {
  opacity: 0.18;
  transform: rotate(90deg);
}

.l-sonar__item:nth-child(5) {
  opacity: 0.14;
  transform: rotate(120deg);
}

.l-sonar__item:nth-child(6) {
  opacity: 0.1;
  transform: rotate(150deg);
}

.l-sonar__item:nth-child(7) {
  opacity: 0.06;
  transform: rotate(180deg);
}

.l-gradient {
  background: linear-gradient(111.34deg, rgba(38, 38, 244, 0.3) 0%, rgba(22, 22, 65, 0) 31.36%, rgba(86, 204, 75, 0.3) 100%);
  z-index: 1;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.l-noise {
  background-size: 800px;
  opacity: 0.05;
  pointer-events: none;
  z-index: 8;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 980px) {
  .l-title h1,
.l-title .w-embed span:after {
    font-size: 86px;
  }
}

@media only screen and (max-width: 600px) {
  .l-title h1,
.l-title .w-embed span:after {
    font-size: 46px;
  }

  .l-txt {
    font-size: 14px;
  }

  .l-dot.l-dot--main {
    background-size: 160px 150px;
    height: 150px;
    margin: -80px 0 0 -75px;
    width: 160px;
  }

  .l-dot.l-dot--secondary {
    background-size: 160px;
    height: 160px;
    margin: -80px 0 0 -80px;
    width: 160px;
  }
}

@keyframes dotRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes dotRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes dotRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dotRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sonarRotate {
  100% {
    transform: rotate(-360deg);
  }
}

@-moz-keyframes sonarRotate {
  100% {
    transform: rotate(-360deg);
  }
}

@-o-keyframes sonarRotate {
  100% {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes sonarRotate {
  100% {
    transform: rotate(-360deg);
  }
}

.l-ma {
  margin: 30px;
}

.l-mb {
  margin-bottom: 30px;
}

.l-ml {
  margin-left: 30px;
}

.l-mr {
  margin-right: 30px;
}

.l-mt {
  margin-top: 30px;
}

.l-hma {
  margin: 15px;
}

.l-hmb {
  margin-bottom: 15px;
}

.l-hml {
  margin-left: 15px;
}

.l-hmr {
  margin-right: 15px;
}

.l-hmt {
  margin-top: 15px;
}

.l-dma {
  margin: 60px;
}

.l-dmb {
  margin-bottom: 60px;
}

.l-dml {
  margin-left: 60px;
}

.l-dmr {
  margin-right: 60px;
}

.l-dmt {
  margin-top: 60px;
}

.l-nm {
  margin: 0;
}

.l-nmb {
  margin-bottom: 0;
}

.l-nml {
  margin-left: 0;
}

.l-nmr {
  margin-right: 0;
}

.l-nmt {
  margin-top: 0;
}

.l-ma--large {
  padding: 180px;
}

.l-mb--large {
  padding-bottom: 180px;
}

.l-ml--large {
  padding-left: 180px;
}

.l-mr--large {
  padding-right: 180px;
}

.l-mt--large {
  padding-top: 180px;
}

.l-pa {
  padding: 30px;
}

.l-pb {
  padding-bottom: 30px;
}

.l-pl {
  padding-left: 30px;
}

.l-pr {
  padding-right: 30px;
}

.l-pt {
  padding-top: 30px;
}

.l-hpa {
  padding: 15px;
}

.l-hpb {
  padding-bottom: 15px;
}

.l-hpl {
  padding-left: 15px;
}

.l-hpr {
  padding-right: 15px;
}

.l-hpt {
  padding-top: 15px;
}

.l-dpa {
  padding: 60px;
}

.l-dpb {
  padding-bottom: 60px;
}

.l-dpl {
  padding-left: 60px;
}

.l-dpr {
  padding-right: 60px;
}

.l-dpt {
  padding-top: 60px;
}

.l-np {
  padding: 0;
}

.l-npb {
  padding-bottom: 0;
}

.l-npl {
  padding-left: 0;
}

.l-npr {
  padding-right: 0;
}

.l-npt {
  padding-top: 0;
}

.l-pa--large {
  padding: 180px;
}

.l-pb--large {
  padding-bottom: 180px;
}

.l-pl--large {
  padding-left: 180px;
}

.l-pr--large {
  padding-right: 180px;
}

.l-pt--large {
  padding-top: 180px;
}

@media only screen and (max-width: 600px) {
  .l-ma--large {
    padding: 120px;
  }

  .l-mb--large {
    padding-bottom: 120px;
  }

  .l-ml--large {
    padding-left: 120px;
  }

  .l-mr--large {
    padding-right: 120px;
  }

  .l-mt--large {
    padding-top: 120px;
  }

  .l-pa--large {
    padding: 120px;
  }

  .l-pb--large {
    padding-bottom: 120px;
  }

  .l-pl--large {
    padding-left: 120px;
  }

  .l-pr--large {
    padding-right: 120px;
  }

  .l-pt--large {
    padding-top: 120px;
  }
}

.l-br {
  border-radius: 0;
}

.l-br--small {
  border-radius: 3px;
}

.l-br--bottom {
  border-radius: 0 0 0 0;
}

.l-br--top {
  border-radius: 0 0 0 0;
}

.l-bkg--white, .l-bkg--white--hover:hover, .l-bkg--white--active:active, .l-bkg--white--active.active, .l-bkg--white--active.active:hover, .l-bkg--white--focus:focus {
  background-color: #fff;
}

.l-bkg--body, .l-bkg--body--hover:hover, .l-bkg--body--active:active, .l-bkg--body--active.active, .l-bkg--body--active.active:hover, .l-bkg--body--focus:focus {
  background-color: #161641;
}

.l-bkg--glass, .l-bkg--glass--hover:hover, .l-bkg--glass--active:active, .l-bkg--glass--active.active, .l-bkg--glass--active.active:hover, .l-bkg--glass--focus:focus {
  background-color: rgba(22, 22, 65, 0.5);
}

.l-bdr--white, .l-bdr--white--hover:hover, .l-bdr--white--active:active, .l-bdr--white--active.active, .l-bdr--white--active.active:hover, .l-bdr--white--focus:focus {
  border-color: #fff;
}

.l-bdr--body, .l-bdr--body--hover:hover, .l-bdr--body--active:active, .l-bdr--body--active.active, .l-bdr--body--active.active:hover, .l-bdr--body--focus:focus {
  border-color: #161641;
}

.l-bdr--glass, .l-bdr--glass--hover:hover, .l-bdr--glass--active:active, .l-bdr--glass--active.active, .l-bdr--glass--active.active:hover, .l-bdr--glass--focus:focus {
  border-color: rgba(22, 22, 65, 0.5);
}

.l-bdr {
  border-style: solid;
  border-width: 1px;
}

.l-bdr.l-bdr--double {
  border-width: 2px;
}

.l-show--sm,
.l-show--md {
  display: none;
}

@media only screen and (max-width: 980px) {
  .l-show--md {
    display: block;
  }

  .l-hide--md {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .l-show--sm {
    display: block;
  }

  .l-hide--sm {
    display: none;
  }
}
/*# sourceMappingURL=index.413e95bb.css.map */
